/Users/jalvi/Desktop/github-personal/Data_Engineering_Zoomcamp/Data_Ingestion/ny_taxi_postgres_data/*

/Users/jalvi/Desktop/github-personal/Data_Engineering_Zoomcamp/Data_Ingestion/terraform_gcp/data-eng-bootcamp-key.json